@page
@model BookApp.Pages.PurchaseModel
@{
}
<!--This is the Purchase web page, which displays a table of the cart and all the items inside of it (Book title, quantity, price, subtotal, total)-->
<div class="container">
    <h2>Your Cart</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Book</th>
                <th>Quantity</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td class="text-left">@line.Book.Title</td>              
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-right">@(line.Book.Price.ToString("c"))</td>
                    <td class="text-right">@((line.Quantity * line.Book.Price).ToString("c"))</td>
                    <td>
                        <form asp-page-handler="Remove" method="post">
                            <input type="hidden" name="BookId" value="@line.Book.BookId"/>
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>
                            <button type="submit" class="btn-outline-dark btn-sm" style="float:right">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">@Model.Cart.ComputeTotalSum().ToString("c")</td>
            </tr>
        </tfoot>
    </table>
    <a class="btn btn-outline-dark" href="@Model.ReturnUrl">Continue Shopping</a>
</div>
